<div class="page" id="content-home">
  <div class="text-center">
    <img class="mb-3 app-logo" src="/assets/images/logo.svg" alt="Conference Application" width="75" />
    <h1 class="mb-4">Conference Manager</h1>

    <p class="lead">
      This is a sample SPA interface that uses both Keycloak and Eclipse MicroProfile in order to integrate 2
      separate micro services (<code>microservice-session</code> and <code>microservice-speaker</code>) for a minimal conference management platform.
    </p>
  </div>
</div>
